.cover {
  margin: 92px 48px 0 48px;
  max-height: 740px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen  and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0 0;
  }
}

@media screen  and (min-width: 320px) and (max-width: 720px) {
  .cover {
    margin: 66px 0 0 0;
  }
}
